# Files without extensions
/*

!/.gitignore
!/README.md
!/LICENSE
!/package.json
!/Makefile
!/*.md
!/*.txt
!/*.json

*.exe
*.sh
*.bin
*.app
*.dmg


.DS_Store
Thumbs.db
desktop.ini

# Build directories
/build/
/dist/
/node_modules/
